<% 
require 'faraday'
require 'faraday/net_http'
Faraday.default_adapter = :net_http
%>
<div id="wrapper" style="margin-top: 2em;">
<div class="container" id="main-page">
<% $x = 0 %>
    <% @cards.each do |card| %>
    <% if($x % 3 == 0 || $x == 0) %>
    </div>
    <div class="row">
    <% end %>
    <div class="col-sm-4">
<div class="card mb-4" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="https://static-3.studiobebop.net/ygo_data/card_images/Dark_Magician.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%= card.name %></h5>
        <p class="card-text">
        Rarity: Common
        <br>
        Set name: Metal Raiders
        </p>
      </div>
    </div>
  </div>
</div>
    </div>
      <% $x = $x + 1 %>
    <% end %>
    <% if($x % 3 == 0 || $x == 0) %>
    </div>
    <% $x = 0 %>
    <% end %>
</div>

<br>
<%= link_to 'New Card', new_card_path %>
</div>
<%response = Faraday.get('http://yugiohprices.com/api/price_for_print_tag/JMP-EN001')%>
<%= response.body%>