/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media only screen and (max-width: 767px) {
    #wrapper{
        width: 90% !important;
    }
    #regcontainer{
        width: 95% !important;
    }
    #logincontainer{
        width: 95% !important;
    }
  }
body{
    height: 100vh;
}
#wrapper{
    width: 80%;
    margin: auto;
}
.logo{
    height: 3em;
}
#logincontainer{
    padding-top: 2em;
    width:40%;
    margin:auto;
}
#regcontainer{
    padding-top: 2em;
    width:40%;
    margin:auto;
}
.form-control:focus, .form-select:focus, .form-check-input:focus {
    border-color: rgb(195,71,71) !important;
    box-shadow: 0px 1px 1px rgb(195,71,71) inset, 0px 0px 5px rgb(195,71,71) !important;
  }

  .form-check-input:checked {
    border-color: rgb(195,71,71) !important;
    background-color: rgb(195,71,71) !important;
  }
  #login{
    background-color: rgb(195,71,71) ;
    border: none;
    padding: 0.5em;
  }
#show-container{
    margin-top:2em;
}